<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Yemsays Real Estate API</title>
</head>
<body>
    <h1>Welcome to Yemsays Real Estate API</h1>
    <p>Click <a href="https://documenter.getpostman.com/view/26737003/2s946pY8M5">here</a> to view the API documentation.</p>
</body>
</html>